.bg-background{
    background-image: url(/IMG-20240922-WA0008.jpg);
    background-size: cover;
    background-position: center;
}
.title2{
    text-align: center;

}
.textColor{
    color: white;
    text-align: center;

}

/* pagina docenti */

.foto{
    height: 250px;
    width: 15rem;
}

/* pagina chi siamo */

.logo{
      height: 250px;
    width: 15rem;  
}

.logo2{
    height: 250px;
    width: 15rem;   
}